#pic-name {
  background-color: #da9833;
  height: 200px;
  text-align: center;
  align-items: center;
}

#my-pic {
}

#my-search {
  padding-left: 150px;
  padding-right: 150px;
}

#links {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}

.link-icon {
  color: white;
}

.link-icon:hover {
  color: grey;
}

#avant {
  background-color: red;
}

#videos {
  display: flex;
}
