body{
  height: 100vh;
}

p {
  padding-right: 0 !important;
}

h5 {
  padding-left: 10px;
}

#parcours {
  background-color: #64b2cd;
}

#formations  {
  background-color: #64b2cd;
}

#skills {
  background-color: #64b2cd;
}

h1 {
  color: white;
}

h6{
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

#pic-name {
  background-color: #2a1a5e;
  height: 200px;
  text-align: center;
  align-items: center;
}

#my-search {
  padding-left: 150px;
  padding-right: 150px;
}

#links, .prev-next {
  display: flex;
  justify-content: center;
}

#links {
  margin-top: 30px;
}

#links span {
  color: white;
}

.link {
  width: 270px;
}

.tel-email {
  align-items: center;
}

.link, #avant {
  display: flex;
}

#insert-tel, #insert-email, .link {
  padding-left: 10px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

#avant, .ligne {
  margin-top: 30px;
}

.on {
  font-weight: bold;
  border-bottom: 3px solid #64b2cd;
}

.content {
  background-color: white;
  height: 25em;
}

.link-icon {
  font-size: 30px;
  color: white;
}

#insert {
  font-size: 10px;
}

.link-icon:hover {
  color: #64b2cd;
}

.websites {
  opacity: 0.5;
  border-radius: 10px;
  box-shadow: 0px 0px 5px grey;
}

.websites:hover {
  opacity: 1;
  box-shadow: 0px 0px 10px grey;
}

#avant > div {
  width: 33.33%;
}

#avant > div > div > .row {
  height: 100px;
}

p.col-5, p.col-4, p.col-7 {
  padding-left: 0px !important;
}

.parcours, .skills, .formations {
  height: 250px;
  position: relative;
}

.prev-next {
  align-items: center;
  position: absolute;
  bottom: 10px;
  left:50%;
  transform: translateX(-50%)
}

.stage {
  width: 40px;
  text-align: center;
}

#during, #before {
  font-weight: bold;
}

.off {
  color: grey;
}

.on{
  color: #64b2cd;
}

#during:hover {
  color: #64b2cd;
}

#before:hover {
  color: #64b2cd;
}
