#pic-name {
  background-color: #da9833;
  height: 200px;
  text-align: center;
  align-items: center;
}

#my-pic {
}

#my-search {
  padding-left: 150px;
  padding-right: 150px;
}

#links {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 30px;
}

.link:hover {
  color: grey;
}

#avant {
  background-color: red;
}

a {
  text-decoration: none !important;
  color: white !important;
}

/*body {
  padding: 0;
  margin: 0;
  border: 0;
}


a:hover {
  text-decoration: none !important;
  color: #515151 !important;
}

iframe {
  border-radius: 10px;
}

#left, #right {
  height: 100vh;
  display: flex;
}

#left {
  background-color: #da9833;
  justify-content: center;
}

#right {
  background-color: #F1F1F1;
  flex-direction: column;
  align-items: center;
}
*/
